* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
  .top-nav-bar {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    font-family: 'Rubik Doodle Shadow';
}

.top-nav-bar ul li  {
 padding: 5px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  

  a {
    text-decoration: none;
    color: #000;
  }
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }
.heading {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
}
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    font-size: 25px;
  }

  .main-section {
   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    margin: 10px;
}

.video iframe {
border-radius: 20px;
border: none;
padding: 10px;

}
#descript {
 grid-area: 1 / 1 / 1 / 1;
}
 .video {
    grid-column: 2;
    grid-row: 1;
 }



  #about {
    text-align: center;
    display: none;
  }

  #products {
    grid-row: 2;
    grid-column: 1 / span 2;;
  }

  .form-section {
    display: flex;
  }
  
  input[type="submit"] {
    background-color: #585B56;
    color: white;
    border: none;
    border-radius: 5px;
    height: 20px;
  }
  
  #products img {
    max-height: 500px;
    display: inline-block;
  }
#locations {
    display: inline-flex;
    justify-content: space-around;
    width: 90vw;
}
.form-section {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
