* {
    box-sizing: border-box;
}

body {
    margin: 0px 10px 10px 10px;
    background-color: #fff;
}

html {
    background-color: #fff;;
}

  .top-nav-bar {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding: 20px;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    font-family: 'Rubik Doodle Shadow';
    width: 100vw;
}

.top-nav-bar ul li  {
    padding: 5px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  a {
    text-decoration: none;
    color: #000;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }

.heading {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
}
  #header {
    display: flex;
    justify-content: space-between;
  
  }

  ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    font-size: 25px;
  }

  .main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    margin: 20px;
}

.video iframe {
    border-radius: 20px;
    border: none;
}

#descript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 25px;
}

 .video {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
 }

  #about {
    text-align: center;
    display: none;
  }

  #products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 2;
    grid-column: 1 / span 2;
    gap: 25px;
  }
#products img {
    transition: transform 250ms;
  }
  
  #products img:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.products1, .products2, .products3, .products4 {
    position: relative;
  }

button {
    position: absolute;
    left: 35%;
    bottom: 5%;
    z-index: 2;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
input[type="submit"] {
    background-color: #585B56;
    color: white;
    border: none;
    border-radius: 5px;
    height: 20px;
  }

#products img {
    max-width: 100%;
    max-height: 750px;
    border-radius: 5%;
}

#locations {
    display: inline-flex;
    justify-content: space-around;
    width: 90vw;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  }

.btn-1 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
  }
.btn-1:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
  }
 .entypo-menu {
    display: none;
 }

 
/*Media Query for Mobile */
/*@media only screen and (max-width: 600px) {
    body  {
        margin: 0px 10px 10px 0px;
    }
    .top-nav-bar {
        z-index: 2;
    }
    .main-section {
        display: flex;
        flex-direction: column;
    }
    
    #products {
        display: flex;
        flex-direction: column;
    }

    .heading {
        font-size: 45px;
    }

    #descript p {
        font-size: 19px;
        font-weight: bold;
    }

    button {
        position: absolute;
        left: 30%;
        bottom: 5%;
        z-index: 1;
    }

    #locations{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .form-section {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
*/

  /*Media Query for Mobile and Ipads */
  @media only screen and (min-device-width: 309px) and (max-device-width: 1224px) and (orientation : portrait) {
    .top-nav-bar {
        z-index: 2;
        max-height: 125px;
    }

    #header-img {
        max-height: 75px;
    }

    .menu {
        width: 150%;
        color: #000;
        font: 10px;
        text-align: center;
        overflow: scroll;
      } 
      
      ul {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        padding: 5px;
      }
      
      li {
        display: inline;
        
        font-family: 'Courier New', Courier, monospace;
        
      }
      
      li:first-child {
        display: none;
      }
      
      ul:last-child {
        padding-right: 0;
      }
      

    
        li {
          display: block;
          margin-top: 5px;
          text-align: right;
        }
        
        li:first-child {
          display: block;
          margin-top: auto;
          
        }
        
        ul li {
          display: none;
        }
        
        ul:hover li {
          display: block;
        }
        
       /*end query*/

      

    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    
    #products {
     display: flex;
     flex-direction: column;
    }

    .heading {
        font-size: 45px;
    }

    #descript p {
        font-size: 19px;
        font-weight: bold;
        
        text-align: justify;
    }

    button {
        position: absolute;
        left: 30%;
        bottom: 5%;
        z-index: 1;
    }

    #locations{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .form-section {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    iframe {
        min-width: 200px;
        max-width: 85vw;
        margin-top: 20px;

    }

  }
  
