* {
    box-sizing: border-box;
  }
  
  

  a {
    text-decoration: none;
    color: #585B56;
  }
.top-nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
}
  #header {
    display: flex;
    justify-content: space-between;
  }

  ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
  }
  .video {
    display: none;
  }
  .form-section {
    display: flex;
  }
  
  input[type="submit"] {
    background-color: #585B56;
    color: white;
    border: none;
    border-radius: 5px;
    height: 20px;
  }